In [140]:
import os, time,json
import tmdbsimple as tmdb 
import pandas as pd
import requests
from io import BytesIO
import gzip
import json
from sqlalchemy import create_engine
from urllib.parse import quote_plus
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy import create_engine, String, Integer

In [141]:
# Load API Credentials
with open('.../GitHub/Project_3-Data_Enrichment/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)

In [142]:
login.keys()

dict_keys(['client-id', 'api-key'])

In [143]:
tmdb.API_KEY =  login['api-key']

In [144]:
title_basics_df = pd.read_csv(".../GitHub/Project_3-Data_Enrichment/Data/filtered_title_basics.csv.gz", sep='\t', low_memory=False)

In [145]:
title_ratings_df = pd.read_csv(".../GitHub/Project_3-Data_Enrichment/Data/title.ratings.tsv.gz", sep='\t', low_memory=False)

In [146]:
tmdb_data_df =pd.read_csv(".../GitHub/Project_3-Data_Enrichment/movie_results/tmdb_results_combined.csv.gz", sep='\t', low_memory=False)

In [147]:
tmdb_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5546 entries, 0 to 5545
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  5546 non-null   bool
 1   backdrop_path          2938 non-null   object
 2   belongs_to_collection  420 non-null    object
 3   budget                 5546 non-null   int64
 4   genres                 5546 non-null   object
 5   homepage               358 non-null    object
 6   id                     5546 non-null   int64
 7   imdb_id                5546 non-null   object
 8   original_language      5546 non-null   object
 9   original_title         5546 non-null   object
 10  overview               5420 non-null   object
 11  popularity             5546 non-null   float64
 12  poster_path            4940 non-null   object
 13  production_companies   5546 non-null   object
 14  production_countries   5546 non-null   object
 15  release_date           5486 non-null   object
 16  revenue                5546 non-null   int64
 17  runtime                5546 non-null   int64
 18  spoken_languages       5546 non-null   object
 19  status                 5546 non-null   object
 20  tagline                2276 non-null   object
 21  title                  5546 non-null   object
 22  video                  5546 non-null   bool
 23  vote_average           5546 non-null   float64
 24  vote_count             5546 non-null   int64
 25  certification          1630 non-null   object
dtypes: bool(2), float64(2), int64(5), object(17)
memory usage: 1.0+ MB

In [148]:
tmdb_results.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127,tt0113026,en,The Fantasticks,...,0,86,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,False,5.500,22,NaN
1,False,NaN,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977,tt0113092,en,For the Cause,...,0,100,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,False,5.450,10,NaN
2,False,NaN,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869,tt0116391,hi,Gang,...,0,152,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,False,4.000,1,NaN
3,False,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843,tt0118694,cn,花樣年華,...,14204632,99,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,False,8.101,2369,PG
4,False,/vceiGZ3uavAEHlTA7v0GjQsGVKe.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,49511,tt0118852,en,Chinese Coffee,...,0,99,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There's a fine line between friendship and bet...,Chinese Coffee,False,6.625,56,R

In [149]:
username = "root"
password = quote_plus("Mikh@il96!")

connection = f'mysql+pymysql://{username}:{password}@localhost/movies'

In [150]:
engine = create_engine(connection)

In [151]:
engine

Engine(mysql+pymysql://root:***@localhost/movies)

In [152]:
create_database(connection)

In [153]:
database_exists(connection)

True

In [154]:
# 1. Normalize Genres
# Create a list of unique genres
unique_genres = sorted(title_basics_df['genres'].str.split(',').explode().unique())

In [155]:
# Create a genre map dictionary to replace string genres with integers
genre_map = {genre: genre_id for genre_id, genre in enumerate(unique_genres, 1)}

In [156]:
# Normalize genres in title_basics_df and create title_genres table
title_basics_df['genres'] = title_basics_df['genres'].str.split(',')
title_genres_df = title_basics_df.explode('genres')
title_genres_df['genre_id'] = title_genres_df['genres'].map(genre_map)

In [157]:
# Create a genres table
genres_df = pd.DataFrame({'genre_name': unique_genres, 'genre_id': range(1, len(unique_genres) + 1)})

In [158]:
title_basics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97815 entries, 0 to 97814
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          97815 non-null  object
 1   titleType       97815 non-null  object
 2   primaryTitle    97815 non-null  object
 3   originalTitle   97815 non-null  object
 4   isAdult         97815 non-null  int64
 5   startYear       97815 non-null  float64
 6   endYear         97815 non-null  object
 7   runtimeMinutes  97815 non-null  object
 8   genres          97815 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 6.7+ MB

In [159]:
tmdb_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5546 entries, 0 to 5545
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  5546 non-null   bool
 1   backdrop_path          2938 non-null   object
 2   belongs_to_collection  420 non-null    object
 3   budget                 5546 non-null   int64
 4   genres                 5546 non-null   object
 5   homepage               358 non-null    object
 6   id                     5546 non-null   int64
 7   imdb_id                5546 non-null   object
 8   original_language      5546 non-null   object
 9   original_title         5546 non-null   object
 10  overview               5420 non-null   object
 11  popularity             5546 non-null   float64
 12  poster_path            4940 non-null   object
 13  production_companies   5546 non-null   object
 14  production_countries   5546 non-null   object
 15  release_date           5486 non-null   object
 16  revenue                5546 non-null   int64
 17  runtime                5546 non-null   int64
 18  spoken_languages       5546 non-null   object
 19  status                 5546 non-null   object
 20  tagline                2276 non-null   object
 21  title                  5546 non-null   object
 22  video                  5546 non-null   bool
 23  vote_average           5546 non-null   float64
 24  vote_count             5546 non-null   int64
 25  certification          1630 non-null   object
dtypes: bool(2), float64(2), int64(5), object(17)
memory usage: 1.0+ MB

In [160]:
title_basics_df['runtimeMinutes'] = pd.to_numeric(title_basics_df['runtimeMinutes'], errors='coerce')

In [161]:
columns_to_keep = ['imdb_id', 'revenue', 'budget', 'certification']
tmdb_data_df = tmdb_data_df[columns_to_keep]

In [162]:
title_basics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97815 entries, 0 to 97814
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          97815 non-null  object
 1   titleType       97815 non-null  object
 2   primaryTitle    97815 non-null  object
 3   originalTitle   97815 non-null  object
 4   isAdult         97815 non-null  int64
 5   startYear       97815 non-null  float64
 6   endYear         97815 non-null  object
 7   runtimeMinutes  83630 non-null  float64
 8   genres          97815 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 6.7+ MB

In [163]:
tmdb_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5546 entries, 0 to 5545
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   imdb_id        5546 non-null   object
 1   revenue        5546 non-null   int64
 2   budget         5546 non-null   int64
 3   certification  1630 non-null   object
dtypes: int64(2), object(2)
memory usage: 173.4+ KB

In [164]:
# Create MySQL Tables
# Create title_basics table
title_basics_df.drop(columns=['originalTitle', 'isAdult', 'titleType', 'genres'], inplace=True)
title_basics_df.to_sql('title_basics', con=engine, if_exists='replace', index=False)

97815

In [165]:
# Create title_ratings table
title_ratings_df.to_sql('title_ratings', con=engine, if_exists='replace', index=False)

1360168

In [166]:
# Create title_genres table
title_genres_df.to_sql('title_genres', con=engine, if_exists='replace', index=False)

173667

In [167]:
# Create genres table
genres_df.to_sql('genres', con=engine, if_exists='replace', index=False)

26

In [168]:
# Create tmdb_data table
tmdb_data_df.to_sql('tmdb_data', con=engine, if_exists='replace', index=False)

5546

In [169]:
# Define a dictionary with column data types
column_data_types = {
    'tconst': String(20),  # Change 20 to the appropriate length
    'primaryTitle': String(255),  # Adjust the length as needed
    'startYear': Integer(),
    'runtimeMinutes': Integer(),
    'genres': String(255),  # Adjust the length as needed
}
# Loop through each table and set the primary key
with engine.connect() as conn:
    for table_name, data_types in [
        ('title_basics', column_data_types),
        ('title_ratings', column_data_types),
    ]:
        conn.execute(f"DROP TABLE IF EXISTS {table_name}")
        if table_name == 'title_basics':
            title_basics_df.to_sql(table_name, engine, dtype=data_types, index=False)
        elif table_name == 'title_ratings':
            title_ratings_df.to_sql(table_name, engine, dtype=data_types, index=False)
        conn.execute(f"ALTER TABLE {table_name} ADD PRIMARY KEY (`tconst`);")

In [170]:
#Show First 5 Rows of Each Table
with engine.connect() as conn:
    for table_name in ['title_basics', 'title_ratings', 'title_genres', 'genres', 'tmdb_data']:
        result = conn.execute(f"SELECT * FROM {table_name} LIMIT 5")
        print(f"First 5 rows of the '{table_name}' table:")
        print(pd.DataFrame(result.fetchall(), columns=result.keys()))

First 5 rows of the 'title_basics' table:
      tconst                                       primaryTitle  startYear  \
0  tt0035423                                     Kate & Leopold       2001
1  tt0062336  The Tango of the Widower and Its Distorting Mi...       2020
2  tt0068865                                Lives of Performers       2016
3  tt0069049                         The Other Side of the Wind       2018
4  tt0082328                                 Embodiment of Evil       2008

  endYear  runtimeMinutes
0      \N             118
1      \N              70
2      \N              90
3      \N             122
4      \N              94
First 5 rows of the 'title_ratings' table:
      tconst  averageRating  numVotes
0  tt0000001            5.7      2002
1  tt0000002            5.8       269
2  tt0000003            6.5      1893
3  tt0000004            5.5       178
4  tt0000005            6.2      2678
First 5 rows of the 'title_genres' table:
      tconst titleType                                       primaryTitle  \
0  tt0035423     movie                                     Kate & Leopold
1  tt0035423     movie                                     Kate & Leopold
2  tt0035423     movie                                     Kate & Leopold
3  tt0062336     movie  The Tango of the Widower and Its Distorting Mi...
4  tt0068865     movie                                Lives of Performers

                               originalTitle  isAdult  startYear endYear  \
0                             Kate & Leopold        0     2001.0      \N
1                             Kate & Leopold        0     2001.0      \N
2                             Kate & Leopold        0     2001.0      \N
3  El tango del viudo y su espejo deformante        0     2020.0      \N
4                        Lives of Performers        0     2016.0      \N

  runtimeMinutes   genres  genre_id
0            118   Comedy         6
1            118  Fantasy        10
2            118  Romance        19
3             70    Drama         8
4             90    Drama         8
First 5 rows of the 'genres' table:
  genre_name  genre_id
0     Action         1
1      Adult         2
2  Adventure         3
3  Animation         4
4  Biography         5
First 5 rows of the 'tmdb_data' table:
     imdb_id   revenue    budget certification
0  tt0113026         0  10000000          None
1  tt0113092         0         0          None
2  tt0116391         0         0          None
3  tt0118694  14204632    150000            PG
4  tt0118852         0         0             R

In [171]:
# Show available tables
with engine.connect() as conn:
    result = conn.execute("SHOW TABLES")
    print("Tables available in the 'movies' database:")
    for row in result:
        print(row[0])

Tables available in the 'movies' database:
genres
title_basics
title_genres
title_ratings
tmdb_data